/********************************* CSS Reset *********************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}


ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
    font-weight: 500;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}
header {
    display: block;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/********************************* End CSS Reset *********************************/
#wrapper{
    min-height: 611px;
    overflow: hidden
}
#content_wrapper{
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}
#tit:before {
    content: '';
    width: 9000px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9000px;
    display: block;
}
#tit{
    font-size:26px;
    text-align: left; 
    position: relative;
    letter-spacing: 0.1em;
}