#bot_header:before{
    content: '';
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    top: -6px;
    background: transparent url(../assets/el_bg_shadow.png) repeat-x;
    background-size: auto 6px;
    display: block;
    opacity: 0.6;
}
@media (max-width:1024px){
    #bot_header:before {
        left: 0;
        right: 0;
        top: auto;
        bottom: -6px;
        background-image: url(../assets/el_bg_shadow_2.png);
    }
    #bot_header h1 a{
        display: inline-block;
    }
    #menu_btn.show ._1{
        transform: rotate(45deg);
        top: 10px;
    }
    #menu_btn.show ._2{
        transform: rotate(-45deg);
        top: 10px;
    }
    #menu_btn.show ._3{
        opacity: 0;
    }
}