---
import Navbar from "../components/Navbar.astro"
import "../styles/global.css"
import BHeader from "../assets/top_h_new2.png?url"
import Doushite from "../assets/doushite_crop_top.png?url"
import "../styles/main.css"
---

<html lang="jp">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ピノキオピー オフィシャルウェブサイト</title>
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="../scripts/header.js"></script>
		<script src="../scripts/player.js"></script>
	</head>
	<body>
		<div class="bg-[#f35688]" id="wrapper">
			<Navbar className="bg-[#f35688]"/>
			<div id="content_wrapper">
				<section class = "relative">
					<header class="lg:h-[380px] lg:pt-[60px] lg:pb-[80px] relative pt-[100px] pb-[50px] box-content">
						<p class = "w-[290px] h-[238px] relative right-0 lg:w-[465px] mx-auto lg:absolute lg:right-[30px] z-1">
							<img src={Doushite} class="w-full h-auto">
						</p>
						<h1 class="lg:mt-[150px] mt-[30px] text-center">
							<img src={BHeader} class="lg:w-[392px] lg:h-[80px] w-[190px] h-auto inline-block lg:block">
						</h1>
					</header>
					<div class = "mb-[30px] overflow-hidden" id = "video">
						<div>
							<p class ="w-full md:w-[calc(50%-7px)] h-[198px] md:h-[266px] float-left bg-center bg-cover relative bg-[url(https://i.ytimg.com/vi/A1Ptl0qs-pE/0.jpg)]">
								<a href="http://www.youtube.com/watch?v=A1Ptl0qs-pE" class = "youtube absolute top-0 right-0 left-0 bottom-0 block" data-video = "A1Ptl0qs-pE"></a>
							</p>
							<p class ="w-full md:w-[calc(50%-7px)] h-[198px] md:h-[266px] float-left bg-center bg-cover relative md:ml-[14px] bg-[url(https://i.ytimg.com/vi/LUch7N9Gw28/0.jpg)] mt-[20px] md:mt-0">
								<a href="http://www.youtube.com/watch?v=LUch7N9Gw28" class = "youtube absolute top-0 right-0 left-0 bottom-0 block" data-video = "LUch7N9Gw28"></a>
							</p>
						</div>
					</div>
					<div>
						<h3 class="lg:hidden block text-[16px] text-white tracking-widest mb-[20px] font-extrabold">::RECENT NEWS</h3>
						<ul>
							<li class="mb-[20px] overflow-hidden whitespace-nowrap text-ellipsis">
								<a href="https://pinocchiop.com/news/997" class = "hover:text-black hover:bg-white  w-full py-[4px] px-[15px] lg:py-[8px] lg:px-[23px] text-white text-[20px] bg-transparent block rounded-lg overflow-hidden text-ellipsis border-white border-solid border-2">
								<time class="pr-[20px] hidden lg:inline-block">2024.5.10</time>
									<span class="tracking-widest">新曲『嘘ミーム』MV公開</span>
								</a>
							</li>
							<li class="mb-[20px] overflow-hidden whitespace-nowrap text-ellipsis">
								<a href="https://pinocchiop.com/news/994" class = "hover:text-black hover:bg-white  w-full py-[4px] px-[15px] lg:py-[8px] lg:px-[23px] text-white text-[20px] bg-transparent block rounded-lg overflow-hidden text-ellipsis border-white border-solid border-2">
									<time class="pr-[20px] hidden lg:inline-block">2024.4.18</time>
									<span class="tracking-widest">「ピノキオピー2024 TOUR モンストロ」開催決定</span>
								</a>
							</li>
							<li class="mb-[20px] overflow-hidden whitespace-nowrap text-ellipsis">
								<a href="https://pinocchiop.com/news/993" class = "hover:text-black hover:bg-white  w-full py-[4px] px-[15px] lg:py-[8px] lg:px-[23px] text-white text-[20px] bg-transparent block rounded-lg overflow-hidden text-ellipsis border-white border-solid border-2">
									<time class="pr-[20px] hidden lg:inline-block">2024.4.17</time>
									<span class="tracking-widest">『wowaka 歌詞集』寄稿</span>
								</a>
							</li>
							<li class="mb-[20px] overflow-hidden whitespace-nowrap text-ellipsis">
								<a href="https://pinocchiop.com/news/992" class = "hover:text-black hover:bg-white  w-full py-[4px] px-[15px] lg:py-[8px] lg:px-[23px] text-white text-[20px] bg-transparent block rounded-lg overflow-hidden text-ellipsis border-white border-solid border-2">
									<time class="pr-[20px] hidden lg:inline-block">2024.2.22</time>
									<span class="tracking-widest">猫又おかゆ 新曲「ネコカブリーナ」楽曲提供</span>
								</a>
							</li>
							<li class="mb-[20px] overflow-hidden whitespace-nowrap text-ellipsis">
								<a href="https://pinocchiop.com/news/991" class = "hover:text-black hover:bg-white  w-full py-[4px] px-[15px] lg:py-[8px] lg:px-[23px] text-white text-[20px] bg-transparent block rounded-lg overflow-hidden text-ellipsis border-white border-solid border-2">
									<time class="pr-[20px] hidden lg:inline-block">2024.2.5</time>
									<span class="tracking-widest">「全国バンド図鑑 2024上半期 vol.18」掲載</span>
								</a>
							</li>
							<li class="mb-[20px] overflow-hidden whitespace-nowrap text-ellipsis">
								<a href="https://pinocchiop.com/news/986" class = "hover:text-black hover:bg-white  w-full py-[4px] px-[15px] lg:py-[8px] lg:px-[23px] text-white text-[20px] bg-transparent block rounded-lg overflow-hidden text-ellipsis border-white border-solid border-2">
									<time class="pr-[20px] hidden lg:inline-block">2024.1.27</time>
									<span class="tracking-widest">「ピノキオピー 15th アニバーサリーフェア in OIOI Web」</span>
								</a>
							</li>
							<li class="mb-[20px] overflow-hidden whitespace-nowrap text-ellipsis">
								<a href="https://pinocchiop.com/news/989" class = "hover:text-black hover:bg-white  w-full py-[4px] px-[15px] lg:py-[8px] lg:px-[23px] text-white text-[20px] bg-transparent block rounded-lg overflow-hidden text-ellipsis border-white border-solid border-2">
									<time class="pr-[20px] hidden lg:inline-block">2024.1.26</time>
									<span class="tracking-widest">新曲『Aじゃないか』MV公開</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="mb-[20px]">
						<a href="">
							<img src="https://pinocchiop.com/wp-content/uploads/2023/02/META_banner-for-HP.png" class="w-full h-auto">
						</a>
					</div>
				</section>
			</div>
			<footer class="pt-[100px] pb-[103px] relative">
				<p class="text-white text-center mt-[8px]">
					© PinocchioP  all rights reserved.
				</p>
			</footer>
			<div id="player" class="fixed top-0 left-0 right-0 bottom-0 bg-black bg-opacity-75 z-50 hidden">
				<div id="video_content" class="absolute top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 z-2">
				</div>
				<div id="close_player" class="fixed top-0 right-0 left-0 bottom-0 z-1">
				</div>
			</div>
		</div>
	</body>
</html>
