---
import "../styles/global.css"
import Navbar from "../components/Navbar.astro"
import "../styles/news.css"
---
<html lang="jp">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>ニュース | ピノキオピー オフィシャルウェブサイト</title>
        <script src="../scripts/header.js"></script>
        <script src="https://www.youtube.com/iframe_api"></script>
    </head>
    <body>
        <div id="wrapper" class="bg-[#f35688]">
            <Navbar className="bg-[#f35688]"/>
            <div id="content_wrapper">
                <section class="relative">
                    <header class = "pt-[110px] md:pt-[100px] pb-[60px]">
                        <h2 class="text-[#f35688] font-['asap']" id="tit">
                            <span class="py-[10px] px-[15px] md:px-[30px] md:py-[10px] inline-block bg-white font-bold">NEWS</span>
                        </h2>
                    </header>
                    <article class="pt-[30px] pb-[20px] px-[15px] md:mt-[50px] md:py-[50px] md:px-[30px] text-[14px] tracking-extra-wide rounded-lg bg-white">
                        <header>
                            <div>
                                <time class = "mr-[15px] float-left">2024.6.22</time>
                                <p>
                                    <a class="not-italics text-[#f35688]">
                                        INFORMATION
                                    </a>
                                </p>
                            </div>
                            <h2 class="my-[50px] text-2xl font-bold tracking-normal">
                                <a>
                                    浦島坂田船 新曲「シックスセンス・ベル」楽曲提供
                                </a>
                            </h2>
                        </header>
                        <div>
                            <p class="text-[14px] leading-6 tracking-widest">
                                <span>
                                    浦島坂田船さんの新曲「シックスセンス・ベル」を書き下ろしさせていただきました！
                                </span>
                                <iframe loading="lazy" title="YouTube video player" src="https://www.youtube.com/embed/V1GMqv-wOMg?si=ejPU9b0aFAZh6-R0" frameborder="0" allowfullscreen="allowfullscreen" class="w-full h-auto lg:w-[660px] h-[315px]"></iframe>
                            </p>
                        </div>
                    </article>
                    <article class="mt-[50px] py-[50px] px-[30px] text-[14px] tracking-extra-wide rounded-lg bg-white">
                        <header>
                            <div>
                                <time class = "mr-[15px] float-left">2024.6.16</time>
                                <p>
                                    <a class="not-italics text-[#f35688]">
                                        INFORMATION
                                    </a>
                                </p>
                            </div>
                            <h2 class="my-[50px] text-2xl font-bold tracking-normal">
                                <a>
                                    湊あくあ 新曲「プリンセス・キャリー」楽曲提供
                                </a>
                            </h2>
                        </header>
                        <div>
                            <p class="text-[14px] leading-6 tracking-widest">
                                <span>
                                    湊あくあさんの新曲「プリンセス・キャリー」を書き下ろしさせていただきました！
                                </span>
                                <iframe loading="lazy" title="YouTube video player" src="https://www.youtube.com/embed/LydxNm0P0RA?si=DBFXnEDf_4jk_Kz7"  frameborder="0" allowfullscreen="allowfullscreen" class="w-full h-auto lg:w-[660px] h-[315px]"></iframe>
                            </p>
                        </div>
                    </article>
                    <article class="mt-[50px] py-[50px] px-[30px] text-[14px] tracking-extra-wide rounded-lg bg-white">
                        <header>
                            <div>
                                <time class = "mr-[15px] float-left">2024.5.10</time>
                                <p>
                                    <a class="not-italics text-[#f35688]">
                                        INFORMATION
                                    </a>
                                </p>
                            </div>
                            <h2 class="my-[50px] text-2xl font-bold tracking-normal">
                                <a>
                                    新曲『嘘ミーム』MV公開
                                </a>
                            </h2>
                        </header>
                        <div>
                            <p class="text-[14px] leading-6 tracking-widest">
                                <span>新曲『嘘ミーム』のMVを公開しました。</span>
                                <iframe loading="lazy" title="YouTube video player" src="https://www.youtube.com/embed/A1Ptl0qs-pE?si=7Z_NzRk7QhJP46fi" frameborder="0" allowfullscreen="allowfullscreen" class="w-full lg:w-[660px] h-[315px]"></iframe>
                            </p>
                        </div>
                    </article>
                    <article class="mt-[50px] py-[50px] px-[30px] text-[14px] tracking-extra-wide rounded-lg bg-white">
                        <header>
                            <div>
                                <time class = "mr-[15px] float-left">2024.4.18</time>
                                <p>
                                    <a class="not-italics text-[#f35688]">
                                        EVENT
                                    </a>
                                </p>
                            </div>
                            <h2 class="my-[50px] text-2xl font-bold tracking-normal">
                                <a>
                                    「ピノキオピー2024 TOUR モンストロ」開催決定
                                </a>
                            </h2>
                        </header>
                        <div>
                            <p class="text-[14px] leading-6 tracking-widest">
                                <span>
                                    5年ぶりの全国ツアー「モンストロ」の開催が決定しました！
                                    <br>
                                    7月28日（日）の札幌を皮切りに、大阪、名古屋、福岡、東京の5大都市を回ります。
                                </span>
                                <p class="mt-[28px]">
                                    <img class = "w-full h-auto lg:w-auto"loading="lazy" src="https://pinocchiop.com/wp-content/uploads/2024/04/00_MONSTRO_baner_data_baner.jpg" alt="" width="482" height="482" srcset="https://pinocchiop.com/wp-content/uploads/2024/04/00_MONSTRO_baner_data_baner.jpg 2000w, https://pinocchiop.com/wp-content/uploads/2024/04/00_MONSTRO_baner_data_baner-600x600.jpg 600w, https://pinocchiop.com/wp-content/uploads/2024/04/00_MONSTRO_baner_data_baner-960x960.jpg 960w, https://pinocchiop.com/wp-content/uploads/2024/04/00_MONSTRO_baner_data_baner-210x210.jpg 210w, https://pinocchiop.com/wp-content/uploads/2024/04/00_MONSTRO_baner_data_baner-768x768.jpg 768w, https://pinocchiop.com/wp-content/uploads/2024/04/00_MONSTRO_baner_data_baner-1536x1536.jpg 1536w" sizes="(max-width: 482px) 100vw, 482px">
                                </p>
                                <p class="mt-[28px] text-[14px] tracking-widest leading-6">
                                    <strong>■ツアー「モンストロ」情報</strong>
                                </p>
                                <p class="mt-[28px] text-[14px] tracking-widest leading-6">
                                   <strong>・日程 / 会場</strong>
                                   <br>
                                   7月28日（日）＠Zepp Sapporo
                                   <br>
                                   8月3日（土）＠Zepp Namba
                                   <br>
                                   8月4日（日）＠Zepp Nagoya
                                   <br>
                                   8月16日（金）＠Zepp Fukuoka
                                   <br>
                                   8月23日（金）＠豊洲PIT
                                </p>
                                <p class="mt-[28px] text-[14px] tracking-widest leading-6">
                                    開場 / 開演：
                                    <br>
                                    地方公演：開場 17:00 / 開演 18:00
                                    東京のみ：開場 17:30 / 開演 18:30
                                </p>
                                <p class="mt-[28px] text-[14px] tracking-widest leading-6">
                                    <strong>・チケット料金</strong>
                                    <br>
                                    スタンディング：¥5,500（税込）
                                    <br>
                                    着席指定席：¥6,600（税込）
                                </p>
                                <p class="mt-[28px] text-[14px] tracking-widest leading-6">
                                    ※東京公演のみ、全席スタンディングとなります。
                                    <br>
                                    ※ご入場時、別途ドリンク代（600円）が必要です。
                                    <br>
                                    ※着席指定エリアは2階席となります。
                                    <br>
                                    こちらのお席は、着席指定のお席となり、公演中は必ず着席の上、お楽しみください。
                                </p>
                                <p class="mt-[28px] text-[14px] tracking-widest leading-6">
                                    <strong>・チケット販売期間</strong>
                                    <br>
                                    受付期間（抽選）：2024年4月18日（木）18:00〜4月30日（火）23:59
                                    <br>
                                    抽選発表：2024年5月3日（金・祝）10:00
                                    <br>
                                    入金期間：2024年5月3日（金・祝）10:00〜5月12日（日）21:00
                                </p>
                                <p class="mt-[28px] text-[14px] tracking-widest leading-6">
                                    ※ご購入はお1人様4枚までとなります。
                                    <br>
                                    ※ご来場の際は「チケットに明記されているお名前」が確認出来る身分証明書を必ずお持ちください。
                                    <br>
                                    ご入場時に確認をさせていただきます。
                                </p>
                                <p class="mt-[28px] text-[14px] tracking-widest leading-6">
                                    <strong>・チケット購入</strong>
                                    <br>
                                    <a href="https://eplus.jp/pinocchiop/" class="text-[#f35688]">https://eplus.jp/pinocchiop/</a>
                                </p>
                                <p class="mt-[28px] text-[14px] tracking-widest leading-6">
                                    <strong>・来場者特典</strong>
                                    <br>
                                    モンストロステッカー
                                </p>
                                <p class="mt-[28px] text-[14px] tracking-widest leading-6">
                                    <strong>・主催</strong>
                                    <br>
                                    株式会社HIKE
                                </p>
                                <p class="mt-[28px] text-[14px] tracking-widest leading-6">
                                    <strong>・お問い合わせ</strong>
                                    <br>
                                    ピノキオピー「モンストロ」お問い合わせ窓口
                                    <br>
                                    music@hike.inc
                                </p>
                                <p class="mt-[28px] text-[14px] tracking-widest leading-6">
                                    グッズ情報
                                    <br>
                                    <img class = "w-full h-auto"loading="lazy" src="https://pinocchiop.com/wp-content/uploads/2024/04/Goods.png" alt="" width="658" height="930" srcset="https://pinocchiop.com/wp-content/uploads/2024/04/Goods.png 2481w, https://pinocchiop.com/wp-content/uploads/2024/04/Goods-424x600.png 424w, https://pinocchiop.com/wp-content/uploads/2024/04/Goods-679x960.png 679w, https://pinocchiop.com/wp-content/uploads/2024/04/Goods-768x1086.png 768w, https://pinocchiop.com/wp-content/uploads/2024/04/Goods-1086x1536.png 1086w, https://pinocchiop.com/wp-content/uploads/2024/04/Goods-1448x2048.png 1448w" sizes="(max-width: 658px) 100vw, 658px">
                                    <br>
                                    <img class = "w-full h-auto"loading="lazy" src="https://pinocchiop.com/wp-content/uploads/2024/04/Goods2.png" alt="" width="655" height="926" srcset="https://pinocchiop.com/wp-content/uploads/2024/04/Goods2.png 2481w, https://pinocchiop.com/wp-content/uploads/2024/04/Goods2-424x600.png 424w, https://pinocchiop.com/wp-content/uploads/2024/04/Goods2-679x960.png 679w, https://pinocchiop.com/wp-content/uploads/2024/04/Goods2-768x1086.png 768w, https://pinocchiop.com/wp-content/uploads/2024/04/Goods2-1086x1536.png 1086w, https://pinocchiop.com/wp-content/uploads/2024/04/Goods2-1448x2048.png 1448w" sizes="(max-width: 655px) 100vw, 655px">
                                </p>
                            </p>
                        </div>
                    </article>
                    <article class="mt-[50px] py-[50px] px-[30px] text-[14px] tracking-extra-wide rounded-lg bg-white box-content">
                        <header>
                            <div>
                                <time class = "mr-[15px] float-left">2024.4.17</time>
                                <p>
                                    <a class="not-italics text-[#f35688]">
                                        INFORMATION
                                    </a>
                                </p>
                            </div>
                            <h2 class="my-[50px] text-2xl font-bold tracking-normal">
                                <a>
                                『wowaka 歌詞集』寄稿
                                </a>
                            </h2>
                        </header>
                        <div class="leading-6 overflow-hidden">
                            <p class="text-[14px] leading-6 tracking-widest">
                                <span>2024年5月11日(土)発売『wowaka歌詞集』に寄稿させていただきました。</span>
                                <div class="flex max-width-[560px] w-full my-[10px]">
                                    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="static visible w-[550px] h-[769px] lg:h-[1065px] block grow-1;" title="X Post" src="https://platform.twitter.com/embed/Tweet.html?dnt=false&amp;embedId=twitter-widget-0&amp;features=eyJ0ZndfdGltZWxpbmVfbGlzdCI6eyJidWNrZXQiOltdLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X2ZvbGxvd2VyX2NvdW50X3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9iYWNrZW5kIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19yZWZzcmNfc2Vzc2lvbiI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfZm9zbnJfc29mdF9pbnRlcnZlbnRpb25zX2VuYWJsZWQiOnsiYnVja2V0Ijoib24iLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X21peGVkX21lZGlhXzE1ODk3Ijp7ImJ1Y2tldCI6InRyZWF0bWVudCIsInZlcnNpb24iOm51bGx9LCJ0ZndfZXhwZXJpbWVudHNfY29va2llX2V4cGlyYXRpb24iOnsiYnVja2V0IjoxMjA5NjAwLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3Nob3dfYmlyZHdhdGNoX3Bpdm90c19lbmFibGVkIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19kdXBsaWNhdGVfc2NyaWJlc190b19zZXR0aW5ncyI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdXNlX3Byb2ZpbGVfaW1hZ2Vfc2hhcGVfZW5hYmxlZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdmlkZW9faGxzX2R5bmFtaWNfbWFuaWZlc3RzXzE1MDgyIjp7ImJ1Y2tldCI6InRydWVfYml0cmF0ZSIsInZlcnNpb24iOm51bGx9LCJ0ZndfbGVnYWN5X3RpbWVsaW5lX3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9mcm9udGVuZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9fQ%3D%3D&amp;frame=false&amp;hideCard=false&amp;hideThread=false&amp;id=1780189497902473499&amp;lang=en&amp;maxWidth=560px&amp;origin=https%3A%2F%2Fpinocchiop.com%2Fnews&amp;sessionId=6cf1457f5c93c8e4a4ff5d6c362ebbb1ae30abaa&amp;theme=light&amp;widgetsVersion=2615f7e52b7e0%3A1702314776716&amp;width=550px" data-tweet-id="1780189497902473499"></iframe>
                                </div>
                            </p>
                        </div>
                    </article>
                    <div class="mt-[70px] text-white text-center text-[20px] lg:text-[30px]">
                        <a href="" class="mx-[10px] relative" id="current">1</a>
                        <a href="https://pinocchiop.com/news/page/2" class="mx-[10px] relative">2</a>
                        <a href="https://pinocchiop.com/news/page/3" class="mx-[10px] relative">3</a>
                        <a href="https://pinocchiop.com/news/page/4" class="mx-[10px] relative">4</a>
                        <a href="https://pinocchiop.com/news/page/5" class="mx-[10px] relative">6</a>
                        <a href="" class="mx-[10px] relative">...</a>
                        <a href="https://pinocchiop.com/news/page/41" class="mx-[10px] relative">41</a>
                    </div>
                </div>
                </section>
            <footer class="pb-[70px] pt-[100px] lg:pb-[103px] relative bg-[#f35688]">
                <p class="text-white text-[10px] text-center">© PinocchioP all rights reserved.</p>
            </footer>
        </div>
    </body>
</html>